.ajax_load {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1200;
}
.ajax_load_box {
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.ajax_load_box_circle {
    border: 16px solid #e3e3e3;
    border-top: 16px solid var(--teal);
    border-radius: 50%;
    margin: auto;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1.2s linear infinite;
    -o-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
}
.ajax_load_box_title {
    margin-top: 15px;
    font-weight: bold;
}
.ajax_response .message:before {
    flex-basis: 0;
    margin: -5px 15px 0 0 !important;
    font-size: 2.4em;
    color: rgba(0, 0, 0, 0.5);
}

/*MESSAGES*/

.message {
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;

    display: block;
    width: 100%;
    padding: 20px;
    border: 2px solid #cccccc;
    margin-bottom: 1em;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.message.success {
    --color: var(--success);
    color: var(--white);
    border-color: var(--success);
}

.message.info {
    --color: var(--info);
    color: var(--white);
    border-color: var(--info);
}

.message.warning {
    --color: var(--warning);
    color: var(--dark);
    border-color: var(--warning);
}

.message.error {
    --color: var(--danger);
    color: var(--white);
    border-color: var(--danger);
}

/*AJAX RESPONSES MESSAGES*/

.ajax_response {
    position: fixed;
    padding: 20px 20px 0 0;
    z-index: 1200;

    top: 0;
    right: 0;
    width: 300px;
    max-width: 100%;
}

.ajax_response .message {
    color: #ffffff!important;
    font-size: 0.8em;
    font-weight: 400;
    overflow: hidden;
    border: none;

    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 15px 20px 15px;
    background: #333333;
    margin-bottom: 15px;
    position: relative;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    cursor: pointer;
}

.ajax_response .message:before {
    flex-basis: 0;
    margin: -5px 15px 0 0 !important;
    font-size: 2.4em;
    color: rgba(0, 0, 0, 0.5);
}

.ajax_response .message_time {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4%;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
}

.ajax_response .message.success {
    background: var(--success);
}

.ajax_response .message.info {
    background: var(--info);
}

.ajax_response .message.warning {
    background: var(--warning);
}

.ajax_response .message.error {
    background: var(--danger);
}

/*DEFAULT PAGINATOR*/

.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.paginator a, .paginator span {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #cccccc;
    border-right: 0;
    color: #555555;
    font-weight: var(--weight-bold);
    text-decoration: none;
    transition-duration: 0.2s;
}

.paginator a:first-of-type {
    -webkit-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
    -moz-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
    border-radius: var(--radius-normal) 0 0 var(--radius-normal);
}

.paginator a:last-of-type {
    border-right: 1px solid #cccccc;
    -webkit-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
    -moz-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
    border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
}

.paginator a:hover {
    background: var(--hover-color-green);
    background-size: 200%;
    color: #FBFBFB;
}

.paginator span {
    background: #cccccc;
}